---
---

@import "{{ site.theme }}";

.timeline{
margin: 0 auto;
max-width: 750px;
padding: 25px;
display: grid;
grid-template-columns: 1fr 3px 1fr;
color: #fffffff;
}

.timeline__component{
margin: 0 20px 20px 20px;
}

.timeline__date--right{
text-align:right;
}

.timeline__middle{
position:relative;
background:#000000;
}

.timeline__point{
position: absolute;
top: 0;
left: 50%;
width: 15px;
height: 15px;
background: red;
}

ul.dashed {
  list-style-type: none;
}

h2.rightAlign {
  text-align: right;
}
